<%- include("../layouts/header.ejs") %>

    <style>
        body {

            background-color: #ecfdff;
            ;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .container-div {
            width: 300px;
            padding: 20px;
            border-radius: 15px;
            margin-top: 200px;
            text-align: center;
            background-color: white;
        }

        .container-div h5 {
            margin-top: 20px;
            margin-left: 0;
        }

        .container-div form {
            margin-top: 40px;
        }

        
    </style>


    <body>
        <div class="container-div">
            <h5 style="margin-bottom: 20px;">Enter OTP</h5>
            
                <div>
                    <input type="text" placeholder="Enter OTP" name="otp" id="otp">
                </div>
                <button class= " btn btn-success" type="button" style="margin-top: 20px;" onclick="submit()">Submit</button>
           
        </div>


    </body>


<script>

    function submit(){

        const otp = document.getElementById('otp').value.trim();
        let email = '<%= JSON.stringify(email) %>';
        email = email.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}/)[0];

        if(otp == ''){
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'please enter otp'
            })

        }else{
        fetch('/checkOtp',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ otp,email })
        })
        .then(res => res.json())
        .then(data =>{
            if(data.success){

                window.location.href = `/newPasswordPage?email=${email}`

            }else{
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'otp is incorrect'
                })
            }
        })

        }
        
    }

</script>



    <%- include("../layouts/footer.ejs") %>