<%- include("../layouts/header.ejs") %>

    <style>
        body {

            background-color: #ecfdff;
            ;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .container-div {
            width: 300px;
            padding: 20px;
            border-radius: 15px;
            margin-top: 200px;
            text-align: center;
            background-color: white;
        }

        .container-div h5 {
            margin-top: 20px;
            margin-left: 0;
        }

        .container-div form {
            margin-top: 40px;
        }

        
    </style>


    <body>
        <div class="container-div">
            
            
                <div>
                    <p style="margin-bottom: 2; font-weight: 500;">Enter your new Password</p>
                    <input type="password"  name="password" id="password">

                    <br>
                    <br>
                    <p style="margin-bottom: 2; font-weight: 500;">Confirm Password</p>
                    <input type="password" id="cpassword">
                </div>
                <button class= " btn btn-success" type="button" style="margin-top: 20px;" onclick="submit()">Submit</button>
           
        </div>


    </body>

    <script>

        function submit(){

            var password = document.getElementById('password').value.trim();
            var passwordRegex = /^\d{5}$/;
            let Cpassword = document.getElementById('cpassword').value.trim();
            let email = '<%= JSON.stringify(email) %>';
            email = email.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}/)[0];

            if(!passwordRegex.test(password)){
                
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Password is incorrect'
                })
            }else{

                    fetch('/changePassword',{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ password,email, Cpassword})
                    })
                    .then(res => res.json())
                    .then(data =>{
                        if(data.success){

                            window.location.href = '/login'

                        }else{
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: 'Password and confirem password not matching'
                            })

                        }
                    })              
            }
        }

    </script>






    <%- include("../layouts/footer.ejs") %>